beautifulsoup4==4.13.4
kaggle==1.7.4.2
matplotlib==3.9.4
nltk==3.9.1
numpy==2.0.2
opencv_contrib_python==4.6.0.66
opencv_python==4.11.0.86
pytesseract==0.3.13
rapidfuzz==3.13.0
Requests==2.32.3
scikit_image==0.19.3
segment_anything==1.0
spacy==3.8.5
supervision==0.25.1
torch==2.7.0
torchvision==0.22.0
tqdm==4.64.0
